venv/
__pycache__/
*.pyc

checkpoints/
data/
HAM10000/
PH2Dataset/

results/
gradcam_results/
gradcamresults/

*.pth
*.pt
*.ckpt

.vscode/
.idea/

.DS_Store

!checkpoints/
!checkpoints/distill_T2/
!checkpoints/distill_T2/student_mobilenetv2_100_best.pth